body {
	overflow-x : hidden;
}

.flex-left-auto {
	margin-left : auto;
	&.md-button {
		margin-left : auto !important;
	}
}

#desktop-logo {
	padding   : 5px;
	font-size : 70px;

	i.alice-bws {
		display         : flex;
		justify-content : center;
		align-items     : center;
	}
}

#mobile-navigator {
	a {
		text-decoration : none;
		&:focus {
			text-decoration : none;
		}
		&.router-link-active {
			background-color : $mainColor;
			color            : #fff;
			i {
				color : #fff;
			}
		}
	}
}

#desktop-navbar {
	ul {
		flex-flow : row wrap;
		a {
			text-decoration : none;
			&.router-link-active {
				background-color : $mainColor;
				color            : #fff;
				i {
					color : #fff;
				}
			}
		}
		li {
			i {
				margin-right : 10px;
			}
		}
	}
}